@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

a:hover {
  text-decoration: none;
}

.header-dark {
  background:url(../public/stadium.jpg) #444;
  background-size:cover;
  padding-bottom:80px;
  margin-bottom: -790px;
  height: 100svh;
}
.nav {
  flex-wrap: nowrap;
}
@media (min-width:768px) {
  .header-dark {
    padding-bottom:120px;
    margin-bottom: -800px;
  }
}

.my-5 {
    width: 76%;
    margin-right: auto;
    margin-left: auto;
}

.header-dark .navbar {
  background:transparent;
  padding-top:0;
  padding-bottom:0;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (min-width:768px) {
  .header-dark .navbar {
    /* padding-top:.75rem; */
    padding-top: 0;
    padding-bottom:.75rem;
  }
}

.header-dark .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-dark .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-dark .navbar .navbar-collapse span {
  margin-top:5px;
}

.header-dark .navbar .navbar-collapse span .login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}

.header-dark .navbar .navbar-collapse span .login:hover {
  color:#fff;
}

.header-dark .navbar .navbar-toggler {
  border-color:#747474;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
  background:none;
}

.header-dark .navbar .navbar-toggler {
  color:#eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
  border-color:#636363;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left:1.2rem;
    padding-right:1.2rem;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color:#d9d9d9;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color:#fcfeff !important;
  background-color:transparent;
}

.header-dark .navbar .navbar-nav > li > .dropdown-menu {
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.dropdown-item:hover {
  color: #1E88E5 !important;
  transition: .4s;
}
.header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
  background:#ebeff1;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background:#208f8f;
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem .8rem;
  transition:background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background:#269d9d;
}

.header-dark .navbar .form-inline label {
  color:#ccc;
}

.header-dark .navbar .form-inline .search-field {
  display:inline-block;
  width:80%;
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

.header-dark .navbar .form-inline .search-field:focus {
  border-bottom:1px solid #ccc;
}

.header-dark .hero {
  margin-top:60px;
}
.registration, .login, .profile {
  margin-bottom: 415px;
}

@media (min-width:768px) {
  .header-dark .hero {
    margin-top:20px;
  }
}

.header-dark .hero h1 {
  color:#fff;
  font-family:'Bitter', serif;
  font-size:40px;
  margin-top:20px;
  margin-bottom:80px;
}

@media (min-width:768px) {
  .header-dark .hero h1 {
    margin-bottom:50px;
    line-height:1.5;
  }
}

.header-dark .hero .embed-responsive iframe {
  background-color:#666;
  object-fit: cover;
}

.hero-link {
  color: #eaeaea;
}
.hero-link:hover {
  color: #fff;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  text-decoration: none !important;
}
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
   background-color: #f8f3e8;
   font-family: 'Calibri', sans-serif !important
}

.container{
  /* margin-top:100px; */
  margin-top: 30px;
}
.card {
     position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 0px;
}


.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card .card-title {
  position: relative;
  font-weight: 600;
  margin-bottom: 10px;
}


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 22px 8px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 22px 8px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 22px 8px rgba(34, 60, 80, 0.2);
}

* {
  outline: none;
}

.table th, .table thead th {
  font-weight: 500;
}


.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}


.table th {
  padding: 1rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}


.table th, .table thead th {
  font-weight: 500;
}


th {
  text-align: inherit;
}


.m-b-20 {
  margin-bottom: 20px;
}


.customcheckbox {
  display: block;
  position: relative;
  padding-left: 24px;
  font-weight: 100;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #CDCDCD;
  border-radius: 6px;
}


.customcheckbox input:checked ~ .checkmark {
  background-color: #2196BB;
}


.customcheckbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  height: 100% !important;
  background-color: #F8F9FB !important;
}

.container-fluid{
  margin-top: 101px;
  color:#000 !important;
}

.card{
  background-color: #F8F9FB !important;
}

p{
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
  display: fkex;
}

h3{
  font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
  font-size: 21px !important; 
}


.color-text{
  color:#757575 !important;
}


button {
  font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
  background-color: #2CA6FB;
  padding-left:  calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
  padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
  padding-top:  calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
  padding-bottom:   calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

button:focus {
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
   outline-width: 0
}

footer{
  color:#caced1 !important;
}
.btn--res {
  background: #1E88E5 !important;
  width: auto;
}
.btn--res:hover {
  background: #2CA6FB !important;
}
.footer--link {
  color:#caced1;
}

.footer--link:hover {
  color: #fff;
  transition: .4s;
  cursor: pointer;
}
li{
   margin-top: 20px ;
   margin-bottom: 20px ;
}
.footer--res:hover {
  color:rgb(0, 64, 166);
  text-decoration: none;
  cursor: pointer;
}
.logo-desc {
  margin-left: 5px;
}
.Careers{ 
  cursor: pointer;
  color: #1E88E5;
}

.row-1{
  background-color:#1E242A !important;
}

.row-2{
  
  background-color: #28323C !important;
}


.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.registrationForm h2 {
  color: #fff;
  margin-bottom: 30px;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 40px;
}
.regForm {
  width: 460px;
  border-radius: 5px;
  background: #fff;
}
.regForm-exit {
  height: 20px;
  width: 20px;
  margin-left: auto;
}
.regForm-exit svg:hover {
  fill: #1E88E5;
  transition: .4s;
}
.regForm-exit svg {
  width: 100%;
  height: 100%;
}
.form__input-field {
  display: flex;
  flex-direction: column;
}
input {
  width: 400px;
  height: 25px;
  margin-bottom: 10px;
}
/* textarea {
  width: 300px;
  margin-bottom: 10px;
} */
label {
  margin-bottom: 5px;
}
button {
  height: 50px;
  width: 200px;
  margin-top: 20px;
  background-color: #208f8f;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
button:hover {
  background-color: #269d9d;
}



/* body{
  background-color:#545454;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
 }
 .container{
  height: 100vh;
 }
 .card{
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
 }
 .upper{
  height: 100px;
 }
 .upper img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
 .user{
  position: relative;
 }
 .profile img{
  height: 80px;
  width: 80px;
  margin-top:2px;
 }
 .profile{
  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;
  border-radius: 50%;
 }
 .follow{
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
 }
 .stats span{
  font-size: 29px;
 } */

.breadcrumb {
  padding:0 1.2rem;
}
 /* ResultsPage ---------------------------*/

.resultsPage {
  background: #fff;
  padding: 10px;
  border-radius: 3px;
}
 .icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
}
.btn-light {
  background-color: #fff;
  border-color: #e4e4e4;

}
.list-menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list-menu a {
  color: #343a40;
}
.list-menu a:hover {
  color:rgb(0, 98, 255);
}
.fix-height a:hover {
  color:rgb(0, 98, 255) !important;
  transition: .4s;
}

.form-control {
  color: #007bff;
}
.form-control:hover {
  color: #0056B3;
}

.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}
[class*='card-product'] a.title {
  color: #212529;
  display: block;
}
.card-product-grid:hover .btn-overlay {
  opacity: 1;
}
.card-product-grid .btn-overlay {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.img-wrap {
  overflow: hidden;
  position: relative;
  height: 150px;
}

.img-wrap img {
  object-fit: cover;
}
.form--find {
  width: 100%;
  padding: 0;
}
.fa-search {
  color: #fff;
}
.fa-search span {
  margin-left: 8px;
  font-size: 16px;
}
.resultsPage-link {
  color: #fff;
}
.resultsPage-link:hover {
  color: #fff;
  text-decoration: none;
}
.title:hover {
  text-decoration: none;
}
.log--button {
  padding: 8px 30px !important;
  margin-left: 10px;
}
.input-group {
  display: block;
}
.input-group .form-control {
  width: 100%;
}
.input-group-append button {
  background-color: #007BFF;
  width: 100%;
}
.input-group-append button:hover {
  background-color: #0056B3;
  transition: .4s;
}


 /* Profile ---------------------------*/

 .main-body {
  background: #fff;
  border-radius: 5px;
 }
 .profile--info {
  height: 57px;
 }

 body{
  /* margin-top:20px; */
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;    
}
.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
.submit {
  background: #000;
}
@media (max-width: 1200px) {
  .dropdown-toggle span {
    display: none;
  }
}
@media (max-width: 991.8px) {
  .footer--link {
    font-size: 0.8rem;
  }
}
@media (max-width: 420px) {
  table {
    font-size: 11px;
  }
  button {
    width: 110px;
  }
}
@media (max-width: 767.8px) {
  .hero-link {
    color: #fff;
  }
  small {
    font-size: 60%;
  }
  .footer--link {
    font-size: 0.75rem;
  }
  
}
@media (max-width: 575.8px) {
  .regForm {
    width: 100%;
  }
  .form__input-field {
    width: 100%;
  }
  .form__input-field input {
    width: 100%;
  }
  form button {
    width: 100%;
  }
}